<h1>商品単価の新規登録</h1>
<p>得意先: <%= @customer.customer_name %></p>

<%= render "form", customer: @customer, product_price: @product_price %>

<br>

<div>
  <%= link_to "戻る", customer_product_prices_path(@customer) %>
</div>
