<h1>担当者の編集</h1>

<%= render "form", supplier: @supplier, supplier_contact: @supplier_contact %>

<br>

<div>
  <%= link_to "詳細", supplier_path(@supplier) %> |
  <%= link_to "戻る", supplier_path(@supplier) %>
</div>
